{% load static %}


<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

</head>

<body>
<div class="container">
    <div class="navbar">
      <a href="/#">Home</a>
      {% if user.is_authenticated %}
      <a href="/users/profile">Profile</a>
      <a href="/users/logout">Logout</a>
      <a href="/users/login">Brute Force</a>
      <a href="/utils/testconn">Command Execution</a>
      <a href="/users/changepass">CSRF</a>
      <a href="/utils/filerunner">File Inclusion</a>
      <a href="/utils/userlookup">SQL Injection</a>
      <a href="/utils/guestbook">XSS Stored</a>
      {% else %}
      <a href="/users/login">Login</a>
      <a href="/users/signup">Signup</a>
      <a href="/users/login">Brute Force</a>
      <a href="/utils/testconn">Command Execution</a>
      <a href="/users/changepass">CSRF</a>
      <a href="/utils/filerunner">File Inclusion</a>
      <a href="/utils/userlookup">SQL Injection</a>
      <a href="/utils/guestbook">XSS Stored</a>
      {% endif %}
    </div>
    <div class="sidenav">
      <p class="navinfo">{% autoescape off %}{{ navinfo }}{% endautoescape %}</p>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>
</body>

</html>
